@model Blog_Recetas.Models.Autor



@{
    ViewData["Title"] = "Edit";
    ViewData["TituloHeader"] = "Todas Nuestros Autores";
    ViewData["SubtituloHeader"] = "Que Realizan las mejores recetas todos los dias.";
    ViewData["ImagenHeader"] = "/assets/img/autor-bg.jpeg";
}



<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Editar</h1>

            <h4>Autor</h4>
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label>Imagen Actual</label>
                    @if (!string.IsNullOrEmpty(Model.FotoUrl))
                    {
                        <div class="d-flex justify-content-center">
                            <img id="imgPreview" src="@Url.Content("~/")@Model.FotoUrl" alt="Imagen del País" class="img-fluid" width="400" />
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                            <a href="@Url.Content("~/")@Model.FotoUrl" target="_blank">Ver Imagen Actual</a>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <img id="imgPreview" src="#" alt="Vista previa de la imagen" class="img-fluid" style="display: none; max-width: 400px; height: 250px;" />
                            <p>No hay imagen disponible</p>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SegundoNombre" class="control-label"></label>
                    <input asp-for="SegundoNombre" class="form-control" />
                    <span asp-validation-for="SegundoNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <textarea aria-describedby="Descripcion" class="form-control" id="Descripcion" asp-for="Descripcion"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FotoUrl" class="control-label"></label>
                    <input asp-for="FotoUrl" class="form-control" type="file" class="form-control" onchange="previewImage(event)" />
                    <span asp-validation-for="FotoUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Biografia" class="control-label"></label>
                    <input asp-for="Biografia" class="form-control" />
                    <span asp-validation-for="Biografia" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="Index">Volver</a>
                </div>
            </form>
        </div>

    </div>

</div>


@section Scripts {
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var img = document.getElementById('imgPreview');
                img.src = reader.result;
                img.style.display = 'block';
            };
            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}