@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Autor" asp-action="Index">Autores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Categoria" asp-action="Index">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Publicacion" asp-action="Index">Publicaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Instruccion" asp-action="Index">Instrucciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Ingrediente" asp-action="Index">Ingredientes</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Home" asp-action="Receta">Recetas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Home" asp-action="PostRecomendado">Recomendada</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Home" asp-action="About">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a>
        </li>
    }

