@{
    ViewData["Title"] = "Index";
    ViewData["TituloHeader"] = " Sección Acerca De";
    ViewData["SubtituloHeader"] = "Toda Nuestra Información.";

    ViewData["ImagenHeader"] = "/assets/img/about-bg.jpg";
}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2>About Me</h2>
            <p>¡Hola! Soy <strong>Francisco</strong>, un apasionado/a de la cocina y creador/a de este blog de recetas. Desde muy joven, siempre me ha fascinado la magia de combinar ingredientes para crear platos deliciosos y memorables. A lo largo de los años, he experimentado con diversas cocinas y técnicas culinarias, y ahora quiero compartir mis mejores recetas contigo.</p>

            <h3>Mi Filosofía</h3>
            <p>Creo que la cocina es un arte que debe ser accesible para todos, sin importar su nivel de habilidad. Por eso, en este blog encontrarás recetas detalladas y fáciles de seguir, desde platos rápidos para el día a día hasta elaboraciones más sofisticadas para ocasiones especiales. Mi objetivo es inspirarte a experimentar en la cocina y a disfrutar del proceso tanto como del resultado.</p>

            <h3>Qué Encontrarás Aquí</h3>
            <ul>
                <li><strong>Recetas Diversas:</strong> Desde entrantes y platos principales hasta postres y bebidas, cubriendo una amplia variedad de cocinas del mundo.</li>
                <li><strong>Consejos y Trucos:</strong> Pequeños secretos que he aprendido con el tiempo para mejorar tus habilidades culinarias.</li>
                <li><strong>Historias y Anécdotas:</strong> Cada receta viene con una historia personal o una anécdota que hace que cocinar sea una experiencia aún más rica y significativa.</li>
            </ul>

            <h3>Conéctate Conmigo</h3>
            <p>Me encanta interactuar con mis lectores, así que no dudes en dejar comentarios, hacer preguntas o compartir tus propias versiones de las recetas. Puedes seguirme en mis redes sociales para más inspiración diaria y actualizaciones sobre nuevas publicaciones en el blog.

        </div>
    </div>
</div>